* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D2850;
    font-family: 'Times New Roman', Times, serif;
    color: #f4f4f4;
    overflow-x: hidden;
}

main {
    width: 100%;
    margin: 0 auto;
}

#Div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#A4, #A5 {
    margin: 0 20px;
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
}

.upper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 3rem;
}

#Profile img {
    border-radius: 50%;
    height: 60px;
}

.Div2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5A20E3;
    padding: 10px 0;
}

.Div2 a {
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 38px;
    color: aliceblue;
    margin: 30px 0 20px 0;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 15px 10px;
    color: #f4f4f4;
}

pre {
    white-space: pre-wrap;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 15px 10px;
    color: #f4f4f4;
}

#Jhankar, #Notice, #AboutUs {
    margin-top: 40px;
}
#Notice{
    margin-top: 10px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Notice img {
    margin: 15px;
    border-radius: 10px;
    max-width: 30%;
    /* height: auto; */
}

@media screen and (max-width: 768px) { 
    #Div1, .Div2 {
        flex-direction: column;
        align-items: center;
    }

    .Div2 a, #A4, #A5 {
        margin: 10px;
        font-size: 18px;
    }

    p{
        font-size: 16px;
        line-height: 28px;
    }

    pre {
        font-size: 16px;
        line-height: 28px;
    }

    h1 {
        font-size: 32px;
    }
}

#About Us{
    width:80%;
    margin: auto;

}
#Notice{
    margin-top: 10px;
    margin-bottom: 40px;
}